.card {
  margin: 10px;
}

.card-img-top {
  width: 100%;
  /* height: 15vw; */
  /* height: 100%; */
  object-fit: cover;
}

.card img {
  /* margin: 10px; */
  height: 300px;
  position: relative;
  text-align: center;
  /* color: white; */
}

.bottom-center {
  position: absolute;
  left: 20px;
  transform: translateY(-20%);
  color: white;

  width: 146px;
  height: 43px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}