.carousel-caption {
    position: absolute;
    top: 100px;
    color: #ffffff;
}

.carousel-caption h3 {
    width: 378.53px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.carousel-caption p {
    width: 250px;
    height: 150px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

#booking-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: relative;
    width: 161px;
    height: 48px;
    /* left: 135px; */
    top: 10px;

    background: #f9a51a;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#arrow {
    padding-left: 10px;
}